.logo{
    margin-top: 10px;
    margin-left:30px;
    width: 150px;
}

.nav-elements{
    margin-right: 20px;
    font-size: 21px;
    list-style-type: none;
    display: flex;
}

.nav-elements > li{
        margin-right: 30px;
    }

.nav-bar{
    display: flex;
    justify-content: space-between;
    border: 1px solid black
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap:70px;
}

.res-image{
    width:100%;
    height:150px;
    border-radius: 10%;
}

.res-card-text{
    margin:10px;
}

.res-card{
    margin: 0px 20px;
    padding: 15px;
    width: 250px;
}

.res-card:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color:#f0f0f0;
}


.filter-bar {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 15px;
  height: 40px;
}

.search-bar{
  display: flex;
  align-items: center;
  margin-left: 20px;
  gap: 8px;
  padding: 10px;

}

.search-input{
  width: 280px; 
  padding: 12px 80px;
  padding-left: 10px;
  border: 2px solid orangered;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 500px;
  outline: none;              
}


.top-rated-btn , .reset-btn {
  background-color: orangered;
  max-height: 35x;
  color: white;
  border: 1px;
  padding: 10px 10px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 15px;
}

.shimmer-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffffff;

}
.shimmer-card{
    margin: 20px;
    padding: 15px;
    width: 240px;
    height:300px;
    background-color: #f0f0f0;
    border-radius: 20px;

}

.shimmer-card-img{
    margin:10px;
    width:220px;
    height:120px;
    border-radius: 20px;
    background-color: #e0e0e0;
}


